version: "3.1"
services:
  #app:
    #cap_drop:
    #  - SETGID
    #  - SETUID
    #depends_on:
    #  - db
  db:
    #cap_drop:
    #  - SETGID
    #  - SETUID
    image: postgres
    secrets:
      - postgres-passwd
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/10-init.sql
    environment:
      - POSTGRES_USER=emtuser
      - POSTGRES_PASSWORD_FILE=./run/secrets/postgres-passwd
      - POSTGRES_DB=emtbot
    expose:
      - 5432
secrets:
  postgres-passwd:
    file: ./postgres.secret
